.ttl{
    text-align: center;
    font-size: 50px;
    color: lightsteelblue;

}
.enterForm {
    /* Size and position */
    width: 300px;
    margin: 60px auto 30px;
    padding: 10px;
    position: relative;

    /* Font styles */
    font-weight: bold;
    font-family: 'Raleway', 'Lato', Arial, sans-serif;
    font-size: 20px;
    color: #cb9a92;
    text-shadow: 0 2px 1px rgba(0,0,0,0.3);
}

.enterForm h1 {
    font-size: 22px;
    padding-bottom: 20px;
}

.enterForm input[type=text],
.enterForm input[type=password] {
    /* Size and position */
    width: 100%;
    padding: 8px 4px 8px 10px;
    margin-bottom: 15px;

    /* Styles */
    border: 1px solid #4e3043; /* Fallback */
    border: 1px solid rgba(78,48,67, 0.8);
    background: rgba(99,64,86,0.5);
    border-radius: 2px;
    box-shadow:
        0 1px 0 rgba(255,255,255,0.2),
        inset 0 1px 1px rgba(0,0,0,0.1);
    transition: all 0.3s ease-out;

    /* Font styles */
    font-family: 'Raleway', 'Lato', Arial, sans-serif;
    color: #fff;
    font-size: 13px;
}

.enterForm input[type=text]:hover,
.enterForm input[type=password]:hover {
    border-color: #333;
}

.enterForm input[type=text]:focus,
.enterForm input[type=password]:focus,
.enterForm input[type=button]:focus {
    box-shadow:
        0 1px 0 rgba(255,255,255,0.2),
        inset 0 1px 1px rgba(0,0,0,0.1),
        0 0 0 3px rgba(255,255,255,0.15);
    outline: none;
}


.enterForm input[type=button] {
    /* Size and position */
    width: 50%;
    padding: 8px 5px;

    /* Styles */
    background: #634056;
    background: linear-gradient(rgba(99,64,86,0.5), rgba(76,49,65,0.7));
    border-radius: 5px;
    border: 1px solid #4e3043;
    box-shadow: inset 0 1px rgba(255,255,255,0.4), 0 2px 1px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: all 0.3s ease-out;

    /* Font styles */
    color: white;
    text-shadow: 0 1px 0 rgba(0,0,0,0.3);
    font-size: 16px;
    font-weight: bold;
    font-family: 'Raleway', 'Lato', Arial, sans-serif;
}

.enterForm input[type=button]:hover {
    box-shadow: 
        inset 0 1px rgba(255,255,255,0.2), 
        inset 0 20px 30px rgba(99,64,86,0.5);
}


.itemList{
    /* Size and position */
    width: 80%;
    margin: 60px auto 30px;
    padding: 10px;
    position: relative;
    background-color: rgba(203, 114, 39, 0.44);

    /* Font styles */
    font-weight: bold;
    font-family: 'Raleway', 'Lato', Arial, sans-serif;
    font-size: 20px;
    color: #cb9a92;
    text-shadow: 0 2px 1px rgba(0,0,0,0.3);

}
.itemList input[type=text]
{
    width: 40%;
    padding: 8px 4px 8px 10px;
    margin-bottom: 15px;

    /* Styles */
    border: 1px solid #4e3043; /* Fallback */
    border: 1px solid rgba(78,48,67, 0.8);
    background: rgba(99,64,86,0.5);
    border-radius: 2px;
    box-shadow:
        0 1px 0 rgba(255,255,255,0.2),
        inset 0 1px 1px rgba(0,0,0,0.1);
    transition: all 0.3s ease-out;

    /* Font styles */
    font-family: 'Raleway', 'Lato', Arial, sans-serif;
    color: #fff;
    font-size: 13px;
}

.newItem input[type=button] {
    /* Size and position */
    width: 100%;
    padding: 8px 5px;

    /* Styles */
    background: #634056;
    background: linear-gradient(rgba(99,64,86,0.5), rgba(76,49,65,0.7));
    border-radius: 5px;
    border: 1px solid #4e3043;
    box-shadow: inset 0 1px rgba(255,255,255,0.4), 0 2px 1px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: all 0.3s ease-out;

    /* Font styles */
    color: white;
    text-shadow: 0 1px 0 rgba(0,0,0,0.3);
    font-size: 16px;
    font-weight: bold;
    font-family: 'Raleway', 'Lato', Arial, sans-serif;
}

.itemList input[type=button]:hover {
    box-shadow:
        inset 0 1px rgba(255,255,255,0.2),
        inset 0 20px 30px rgba(99,64,86,0.5);
}

.deleteButton{
    position: absolute;
    right: 2%;

    /* Size and position */
    width: 100px;
    padding: 8px 5px;

    /* Styles */
    background: #634056;
    background: linear-gradient(rgba(99,64,86,0.5), rgba(76,49,65,0.7));
    border-radius: 5px;
    border: 1px solid #4e3043;
    box-shadow: inset 0 1px rgba(255,255,255,0.4), 0 2px 1px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: all 0.3s ease-out;

    /* Font styles */
    color: white;
    text-shadow: 0 1px 0 rgba(0,0,0,0.3);
    font-size: 16px;
    font-weight: bold;
    font-family: 'Raleway', 'Lato', Arial, sans-serif;

}

.task{
    border: 1px solid #cccccc;
    height: 40px;
}

.newItem input[type=text]
{
    width: 100%;
    padding: 8px 4px 8px 10px;
    margin-bottom: 15px;

    /* Styles */
    border: 1px solid #4e3043; /* Fallback */
    border: 1px solid rgba(78,48,67, 0.8);
    background: rgba(99,64,86,0.5);
    border-radius: 2px;
    box-shadow:
        0 1px 0 rgba(255,255,255,0.2),
        inset 0 1px 1px rgba(0,0,0,0.1);
    transition: all 0.3s ease-out;

    /* Font styles */
    font-family: 'Raleway', 'Lato', Arial, sans-serif;
    color: #fff;
    font-size: 13px;
}

.statButton{
    /* Size and position */
    width: 150px;
    padding: 8px 5px;

    /* Styles */
    background: #634056;
    background: linear-gradient(rgba(99,64,86,0.5), rgba(76,49,65,0.7));
    border-radius: 5px;
    border: 1px solid #4e3043;
    box-shadow: inset 0 1px rgba(255,255,255,0.4), 0 2px 1px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: all 0.3s ease-out;

    /* Font styles */
    color: white;
    text-shadow: 0 1px 0 rgba(0,0,0,0.3);
    font-size: 16px;
    font-weight: bold;
    font-family: 'Raleway', 'Lato', Arial, sans-serif;

}
